---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="About | Capoeira Academy Novi Sad" lang="en">
  <h1 class="text-3xl font-bold mb-4">About</h1>
  <p>Capoeira Academy is the perfect place for people of all ages to learn capoeira, gain strength and fitness through modern and innovative methods!</p>
  <p>Join our community that cherishes culture, movement, and togetherness. Whether you are a beginner or have experience, you are welcome!</p>
</BaseLayout>