---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="About | Capoeira Academy Novi Sad" lang="en" pageId="about">
  <h1 class="text-3xl font-bold mb-4">About</h1>
  <p>
    Capoeira is an Afro-Brazilian martial art. From its origins as a means of survival, over time it evolved from a unique fighting style into a part of Brazil’s national cultural heritage.
  </p>
  <p class="mt-4">
    Today, capoeira represents a special blend of rhythm, martial techniques, acrobatics, and tradition.
  </p>
  <p class="mt-4">
    Capoeira techniques and everything that comes with them present a challenge for the modern person. Through training and the desire to get to know our body and mind, capoeira brings a sense of satisfaction and relaxation.
  </p>
  <p class="mt-4">
    Capoeira develops the mind and all the muscles in our body. It encourages our psychophysical structure in a positive way. By improving motor skills, perception, and physical characteristics, it inspires us to question our limits and get to know ourselves fully.
  </p>
  <p class="mt-4">
    To be a capoeirista means to be attentive to life. The highest goal in life is to reach our full potential. On that path, it means dealing adequately with all the ups and downs that life brings. Capoeira’s task on this journey is to offer us insight into the possibility of choice in life, through respect for human dignity and mutual respect among people.
  </p>
  <p class="mt-4">
    It is said that capoeira is “played” in a circle called the roda, and not that capoeiristas fight against each other. The principle of capoeira is that educational experiences are gained in the roda, and it teaches us that there is no individual progress. We can only develop within the community in which we live, and in this way, capoeira teaches us to turn to one another if we want to achieve our goals.
  </p>
  <p class="mt-4">
    Capoeira is a game that teaches us to develop naturally in accordance with the laws of nature, to grow, to develop, and to become better from our ups and downs, and to realize our full potential. The capoeirista understands that this is not a selfish process—even though it begins with us in the center of the roda, it spreads to the society that surrounds that center.
  </p>
</BaseLayout>