---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact | Capoeira Academy Novi Sad" lang="en">
  <h1 class="text-3xl font-bold mb-4">Contact</h1>
  <p>For all questions, information about classes, and enrollment, contact us:</p>
  <ul class="mb-4">
    <li>Email: <a href="mailto:info@kapueraakademija.rs" class="text-blue-700 underline">info@kapueraakademija.rs</a></li>
    <li>Phone: <a href="tel:+381601234567" class="text-blue-700 underline">+381 60 123 4567</a></li>
    <li>Facebook: <a href="https://www.facebook.com/kapueraakademija" class="text-blue-700 underline" target="_blank">Capoeira Academy Novi Sad</a></li>
    <li>Address: Omladinski centar OPENS, Bulevar Despota Stefana 5, Novi Sad</li>
  </ul>
  <p>Follow us on social media for the latest news and events!</p>
</BaseLayout>