---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="O nama | Kapuera Akademija Novi Sad" lang="sr">
  <h1 class="text-3xl font-bold mb-4">O nama</h1>
  <p>Kapuera akademija je idealno mesto gde zainteresovani svih uzrasta mogu, uz savremene i inovativne metode, naučiti kapueru, steći snagu i kondiciju!</p>
  <p>Pridružite nam se i postanite deo naše zajednice koja neguje kulturu, pokret i zajedništvo.</p>
</BaseLayout>