---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Raspored | Kapuera Akademija Novi Sad" lang="sr" pageId="schedule">
  <h1 class="text-3xl font-bold mb-4">Raspored</h1>
  <ul class="mb-4">
    <li>
      <strong>Novi Sad:</strong> ponedeljak, sreda, petak
    </li>
    <li>
      <strong>Sombor:</strong> utorak, Äetvrtak
    </li>
    <li>
      <strong>Subotica:</strong> utorak, petak, subota
    </li>
  </ul>
  <p>Kontaktirajte nas za detaljna vremena i lokacije treninga!</p>
</BaseLayout>